@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .navbar-link{
        @apply text-black hover:text-secondary transition-colors px-3 py-2 rounded-md text-sm font-medium
    }
}

@font-face {
    font-family: 'icons';
    src: url("/fonts/icons.ttf");
}

@font-face {
    font-family: 'coolvetica';
    src: url("/fonts/coolvetica rg.otf");
}
@font-face {
    font-family: 'coolvetica-condensed';
    src: url("/fonts/coolvetica condensed rg.otf");
}

.font-icons {
    font-family: 'icons';
}